/* Fuente global */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#1C5D99,#639FAB,#BBCDE5);
}

/* Header */
header {
  background-color: #1C5D99;
  text-align: center;
}
header h1 {
  color: #FFFFFF;
  font-size: 2.5rem;
}
/* Botón personalizado (sobre Bootstrap) */
.btn-primary {
  background-color: #4dabf7;
  border: none;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #339af0;
}

/* Tabla */
table {
  border-radius: 8px;
  overflow: hidden;
}

colors {
    --primary-color: #222222;
    --secondary-color: #FFFFFF;
    --text-color: #1C5D99;
    --background-color: #639FAB;
    --extra: #BBCDE5;
}